.wrapper {
  max-width: 1368px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  & > header {
    transition: opacity .2s ease-in-out;
    text-transform: capitalize;
    color: #FFF;
    padding: 4em 4em 2em 4em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (width <= 500px) {
      padding-left: 2em;
      justify-content: center;
    }
    & > h1 {
      font-size: 1.5em;
    }
    & > form {
    }
  }
  & > main {
    flex-grow: 1;
    & > div {
      background-color: var(--baseColor);
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
      padding: 1em 0 1em 3em;
    }
  }
  & > footer {
    margin: 5em 0 15em 0;
    text-align: center;
    & > a {
      cursor: pointer;
      background-color: yellow;
    }
  }
}
header.fixedTop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to left, #19111f 0%, #2c1e37 100%);
  padding-top: 1em;
  padding-bottom: 1em;
}
