.wrapper {
  max-width: 1368px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  & > header {
    background-color: transparent;
    text-transform: capitalize;
    color: #FFF;
    padding: 4em 0 2em 4em;
    & h1 {
      font-size: 1.5em;
    }
  }
  & > main {
    background-color: var(--baseColor);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    padding-left: 3em;
  }
  & > footer {
    margin: 5em 0 15em 0;
    & > a {
      cursor: pointer;
      background-color: yellow;
    }
  }
}
