.wrapper {
  margin-top: 1em;
  max-width: 960px;
  margin: 0 auto;
  & > header {
    background-color: transparent;
    text-transform: capitalize;
    color: #FFF;
    margin: 2em 0;
    padding-left: 1em;
    & h1 {
      font-size: 1.5em;
    }
  }
  & > main {
    background-color: var(--baseColor);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  & > footer {
    margin: 5em 0 15em 0;
    & > a {
      cursor: pointer;
      background-color: yellow;
    }
  }
}
