:root {
  --easing: cubic-bezier(.6, .05, .28, .91);
}
.toggle {
  display: block;
  padding: 0 8px;
  width: 48px;
  height: @width;
  cursor: pointer;
  border-radius: 4px;
  transition: left 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  & > div {
    min-height: 2px;
    width: 80%;
    margin: 8px auto;
    background-color: var(--primary);
    transition: all 0.5s var(--easing);
  }
}
.active {
  left: calc(var(--pannelWidth) - 64px);
  & > div {
    background-color: color(black l(+20%));
  }
  & div:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  & div:nth-child(2) {
    opacity: 0;
  }
  & div:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}
