:root {
  --main: color(blue s(-50%) h(-22));
  --minor: color(#000 l(+30%));
}
.wrapper {
  margin-bottom: 1em;
  & a:link {
    color: var(--main);
  }
  & > header {
    font-size: 1.5em;
    & span {
      margin-left: 1em;
      font-size: 0.5em;
      color: var(--minor);
    }
  }
  & > footer {
  }
}
