.inlineForm {
  & > .formControl {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3em;
  }
}
  /*
   *& [type="submit"] {
   *  min-width: 3em;
   *  max-width: 25%;
   *  flex-grow: 1;
   *}
   */
