.wrapper {
  max-width: 90%;
  line-height: 2;
}
.post {
  margin-top: 2em;
  & > header {
    font-size: 2em;
    color: white;
    & > span {
      font-size: 0.5em;
      margin-left: 2em;
      color: color(var(--baseColor) b(+20%) alpha(0.5));
    }
  }
  & > main {
    background-color: var(--baseColor);
    padding: 1em;
    margin-top: 1em;
  }
}
.content {
}
.comment {
  padding: 1em;
  margin: 1em 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
  background-color: var(--baseColor);
}
.comment:last-child {
  margin-bottom: 0;
}
