:global(.md) {
  background-color: gray;
}
:global(.md pre) {
  overflow: auto;
}
.wrapper {
  max-width: 90%;
  margin: 0 auto;
  line-height: 2;
}
.post {
  padding: 1em;
  background-color: var(--baseColor);
}
.content {
}
.comment {
  padding: 1em;
  margin: 1em 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
  background-color: var(--baseColor);
}
.comment:last-child {
  margin-bottom: 0;
}
