.wrapper {
  background-color: gray;
  & header:first-child {
    background-color: rgba(229, 138, 18);
    text-align: center;
    color: #FFF;
  }
  & span {
    background-color: #FFF;
    display: inline-block;
  }
}
.container {
}
