.wrapper {
  position: relative;
  z-index: 1;
  display: flex;
}
.container {
  width: 100%;
  position: relative;
  transition: all .3s ease-in-out;
  &:before {
    content: "";
    display: block;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to left, #19111f 0%, #2c1e37 100%);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
  }
}
.error {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: red;
  font-weight: 600;
}
