.wrapper {
  min-height: 100vh;
  background-color: color(var(--baseColor) b(+10%));
  position: relative;
  z-index: 1;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: margin-left .3s ease-in-out;
  & section {
    flex-grow: 1;
  }
  &:before {
    content: "";
    display: block;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to left, #19111f 0%, #2c1e37 100%);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
  }
}
