* {
  box-sizing: border-box;
}
html, body, p {
  margin: 0;
}
body {
  font-family: arial, helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.wrapper {
  min-height: 100vh;
  background-color: color(var(--baseColor) b(+10%));
  display: flex;
}
:root {
  --primary: #108ee9;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.toggle {
  display: block;
  font-size: 1em;
  padding: 0 .5em;
  width: 4em;
  height: @width;
  cursor: pointer;
  border: 1px solid var(--primary);
  border-radius: 0.25em;
  transition: all .3s ease-in-out;
  background-color: var(--primary);
  & > span {
    display: block;
    min-height: 5px;
    width: 80%;
    margin: 0.5em auto;
    background-color: #FFF;
  }
  &:hover {
    background-color: color(var(--primary) l(+10%));
    border-color: @background-color;
  }
}

