* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
html, body {
  height: 100%;
}
html, body, p, h1 {
  margin: 0;
}
body {
  font-family: arial, helvetica, sans-serif;
  background-color: color(var(--baseColor) b(+10%));
  overflow-x: hidden;
  line-height: 1.5;
}
a {
  text-decoration: none;
  &:visited {
    color: #7d5d8a;
  }
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
:global(#root) {
  height: 100%;
}
